.form_container {
  margin: 5px 10px;

  border: none;
  border-radius: 20px;
  background-color: #e3e0e0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.input_container {
  width: 48%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 24px;
  padding: 10px;

  border-radius: 10px;
  border-radius: 10px;

  height: 28px;
  border: none;
  align-items: center;
  display: flex;
}

.btn {
  background-color: #f7e5e5;
  border: none;
  border-radius: 20px;
  padding: 15px;
  margin-right: 30px;
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.form_container > button:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
